<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Packages>
    <Package id="Git.Git" />
    <Package id="Neovim.Neovim" />
    <Package id="voidtools.Everything" />
    <Package id="Google.Chrome" />
    <Package id="JanDeDobbeleer.OhMyPosh" />
    <Package id="twpayne.chezmoi" />
    <Package id="Chocolatey.Chocolatey" />
    <Package id="DEVCOM.JetBrainsMonoNerdFont" />
    <Package id="Microsoft.PowerShell" />
    <Package id="wez.wezterm" />
    <Package id="gerardog.gsudo" />
  </Packages>
</Configuration>
