<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Packages>
    <Package id="Neovim.Neovim" />
    <Package id="AutoHotkey.AutoHotkey" />
    <Package id="Discord.Discord" />
    <Package id="voidtools.Everything" />
    <Package id="Flow-Launcher.Flow-Launcher" />
    <Package id="Google.Chrome" />
    <Package id="TheBrowserCompany.Arc" />
    <Package id="JanDeDobbeleer.OhMyPosh" />
    <Package id="SumatraPDF.SumatraPDF" />
    <Package id="glzr-io.glazewm" />
    <Package id="twpayne.chezmoi" />
    <Package id="Chocolatey.Chocolatey" />
    <Package id="DEVCOM.JetBrainsMonoNerdFont" />
    <Package id="Microsoft.PowerShell" />
  </Packages>
</Configuration>
